@import "tailwindcss";

:root {
  --base-bg: #f9fff7;
  --primary-bg: #a2cb8b;
  --secondary-bg: #84b179;
  --primary-text: #a5c89e;
  --secondary-text: #1f6f5f;
  --accent-green: #5d8a52;
  --dark-green: #0b4836;
  --light-green: #dff0d8;
  --cream: #f8fbf5;
  --glass-bg: rgba(236, 250, 229, 0.12);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
}
